html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
main {
  background-color: black;
  margin: 0;
  padding: 0;

  section {
    text-align: center;
    font-size: 4em;
    font-size: clamp(1rem, 2.5vw, 2rem);
    padding-block: clamp(1rem, 5vw, 2rem);
    color: #fff;
    > * {
      margin-block: 0 2rem;
    }

    &.scroll-reveal {
      text-align: center;
      font-size: 4em;
      font-size: clamp(1rem, 2.5vw, 2rem);
      padding-block: clamp(1rem, 5vw, 2rem);
      span {
        margin: 0;
        color: hsl(0 0% 100% / 0.2);
        background-clip: text;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-image: linear-gradient(90deg, #fff, #fff);
        animation: scroll-reveal linear forwards; /* name duration timing-function delay iteration-count direction fill-mode; */
        animation-timeline: view(y);
      }
      h2 span {
        animation-range-start: cover 20vh;
        animation-range-end: cover 30vh;
      }
      p span {
        animation-range-start: cover 23vh;
        animation-range-end: cover 50vh;
      }
    }
  }
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}
